<div class="grid">
  <h1>Character</h1>
  <div class="something">
    <div class="info">
      <span>Name:</span> {{currentCharacter.name}}
    </div>
    <div class="info">
      <span>Race:</span> {{currentCharacter.race}}
    </div>
    <div class="info">
      <span>Class:</span> {{characterClass.name}}
      <p>{{characterClass.description}}</p>
    </div>
    <div class="info">
      <span>Casting lvl:</span> {{currentCharacter.castingLevel}}
    </div>
    <div id="borderBottom" class="info">
      <span>Spell Count:</span> {{currentCharacter.spellCount}}
    </div>
    <div class="info">
      
      <div class="spells">
        <span>Prepared Spells:</span>
        <ul>
          <li *ngFor="let spell of equippedSpells | async" class="spell">
            <h3>{{spell.name}}</h3>
              level {{spell.level}}
              <i>{{spell.school}}</i>
             <br>
             <strong>
               Casting Time:
             </strong> {{spell.castTime}}
             <br>
             <strong>
               Range:
             </strong> {{spell.range}}
             <br>
             <strong>
               Duration:
             </strong>{{spell.duration}}
             <br>
            <ul>
              <li>
               <strong>Components: </strong>
              </li>
              <li>{{spell.description}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
