
<div class="content" ng-controller="formController">
  <div >
    <h3>EquippedSpells:</h3>
    <ul>
      <li *ngFor="let number of equippedSpells">{{number}}</li>
    </ul>
    <h4 *ngIf="!spellsFull">You have {{spellsLeft}} spells left to choose</h4>
    <button (click)="done()">Done choosing spells</button>
    <ul>
      <li *ngFor="let spell of spellList | async" class="spell">
        <h3><input type="checkbox" name="spells" value="">{{spell.name}}</h3>
        <button *ngIf="!spellsFull" (click)="addSpell(spell.id)">Add</button>
        <button (click)="removeSpell(spell.id)">Remove</button>
          level {{spell.level}}
          <i>{{spell.school}}</i>
         <br>
         <strong>
           Casting Time:
         </strong> {{spell.castTime}}
         <br>
         <strong>
           Range:
         </strong> {{spell.range}}
         <br>
         <strong>
           Duration:
         </strong>{{spell.duration}}
         <br>
        <ul>
          <li>
           <strong>Components: </strong>
          </li>
          <li>{{spell.description}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
