<div class="navBar">
  <div class="diceMenu" [ngClass]="{'animate':isActive}">
    <div class="navHeader">
      <h3>Navigation</h3>
      <img (click)="isActive = !isActive"  src="../assets/svg/D20-icon.svg" alt="picture of a dice">
    </div>
    <div class="links">
      <a href="#" routerLink="character/add">Character Creation</a>
    </div>
    <div class="links">
      <a href="#" routerLink="spell-list">Spell List</a>
    </div>
    <div class="links">
      <a routerLink="player">Character Information</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
