.diceMenu {
  background-color: #D0A98F;
  width: 390px;
  // height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transform-origin: right;
  transform: translateX(-280px);
  position: absolute;
  top: 0;
  bottom: 0;
}
.diceMenu img {
  width: 100px;
  height: 100px;
  padding-right: 1px;
}

.animate{
  animation-name: slide;
  animation-duration: .2s;
  animation-fill-mode: forwards;

}



@keyframes slide {
  0% {
    transform: translateX(-230px);
  }
  100%{
    transform: translateX(0);
  }
}
