.diceMenu {
  background-color: #D0A98F;
  height: 900px;
  width: 340px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transform-origin: right;
  transform: translateX(-230px);
}
.diceMenu img {
  width: 100px;
  height: 100px;
  padding-right: 1px;
}
.diceMenu{
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    transform: translateX(-230px);
  }

  50%{
    transform: translate(0);
  }
  100%{
    transform: translateX(-230px);
  }
}
