$header-font: 'Germania One', cursive;

$main-font: 'Over the Rainbow', cursive;

.grid {
  text-align: center;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns:100vw;
}

.header {
  font-family: $header-font;
  h1{
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #4d243d;
    padding-left: 120px;
  }
}

.main {
  height: 100vh;
  font-family: $main-font;
  background-image: url("../../assets/svg/Dragon.svg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: top;
}

.main p {
  font-size: 25px;
  color: rgb(255,255,255);
  align-self: center;
  padding-top: 270px;
  padding-left: 150px;




}
